@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: green; */
  /* font-family: "poppins", sans-serif; */
}

:root {
  --bg-color: #fafbfb;
  --btn-color: #000000;
}

body {
  background-color: var(--bg-color);
  z-index: 1;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: "poppins", sans-serif;

  p {
    font-size: 0.8rem;
  }
  a {
    text-decoration: underline;
    color: var(--btn-color);
  }
}

.authForm {
  border: 1px solid rgb(0, 0, 0, 0.2);
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #ffff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  width: 24rem;

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 3px;
    height: 2rem;
    padding: 0 0 0 5px;
  }
  label {
    font-weight: 600;
    font-size: 14px;
  }
}

.btn {
  background-color: var(--btn-color);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  transition: background-color 0.3s linear;
  font-family: "poppins", sans-serif;

  &:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.8);
  }
}

/* NAVS */

.nav__container {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  height: 81px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  position: relative;

  h1 {
    font-size: 1.75rem;
  }

  .nav__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav__date {
    display: flex;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
  }
}

/* Dashboard PAGE */

.sideToggleOpen {
  /* display: flex;
  flex-direction: column; */
  /* position: absolute; */
  /* top: 20%;
  left: 1%; */

  .sidePanel__icon {
    height: 3rem;
    width: 3rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.sidePanel {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 100vh;
  z-index: 5;
  background-color: var(--bg-color);

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  gap: 1rem;

  .sidePanel__Tabs {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--btn-color);
    gap: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: "poppins", sans-serif;
    padding: 0.5rem;
    transition: background-color 0.3s linear;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.sidePanel__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 0.5rem;

  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  height: 80px;

  .sidePanel__icon {
    margin-top: 10px;
    height: 2.5rem;
    width: 2.5rem;
    transition: background-color 0.2s linear;
    border-radius: 5px;
    color: var(--btn-color);

    &:hover {
      cursor: pointer;
      /* background-color: rgb(0, 0, 0, 0.1); */
      border-radius: 10px;
    }
  }
}

.dashboard__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 1;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.2;
}

.hidden {
  display: none;
}
